apiVersion: v1
kind: Secret
metadata:
  name: postgresql-credentials
type: Opaque
stringData:
  # PostgreSQL superuser password (used by postgres container)
  POSTGRES_PASSWORD: "replace-me"
  # Application user credentials (created by init.sql)
  PG_USER: "app_user"
  PG_PASSWORD: "replace-me"
